.app {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      width: 250px;
      padding: 10px;
      border: 1px solid gray;
    }

    textarea {
      padding: 10px;
    }

    button {
      border: none;
      padding: 10px;
      background-color: white;
      background-color: teal;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
